.game-button {
  font-family: "Caprasimo", cursive;
  font-size: clamp(1.5rem, 4vmin, 2.5rem);
  padding: 1rem clamp(1rem, 3vmin, 2.5rem);
  color: #fff;
  background: linear-gradient(135deg, #ff00ff, #ff6a00);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.6), 0 0 20px rgba(255, 106, 0, 0.6),
    0 0 30px rgba(255, 0, 255, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-wrap: nowrap;
}

.game-button.back {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: clamp(1rem, 3vmin, 2rem);
  padding: 1rem clamp(1rem, 2vmin, 2rem);
  margin-top: 3rem;
  transition: bottom 1s ease, left 1s ease;
}

@media (max-height: 630px) {
  .game-button.back {
    bottom: 2rem;
    left: -7rem;
  }
}

@media (max-width: 630px) {
  .game-button.back {
    bottom: -5rem;
    left: unset;
  }
}

.game-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.8), 0 0 25px rgba(255, 106, 0, 0.8),
    0 0 35px rgba(255, 0, 255, 0.5);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons-container button {
  width: 100%;
}
