.game-result {
  border-radius: 1rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.result-message {
  font-size: clamp(1rem, 5vmin, 3rem);
  text-wrap: nowrap;
}

.result-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 500px) {
  .result-message {
    width: 15ch;
    text-wrap: wrap;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1.6rem;
  }

  .result-btn-container {
    flex-direction: column;
  }
}

.result-btn-container button {
  min-width: 145px;
  width: 50%;
}

.winning-line {
  position: absolute;
}

@keyframes draw-line-horizontal {
  to {
    transform: translateX(-50%) scaleX(1);
  }
}

@keyframes draw-line-vertical {
  to {
    transform: translateY(-50%) scaleX(1);
  }
}

@keyframes draw-line-diagonal {
  to {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
  }
}

@keyframes draw-line-diagonal-inv {
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
  }
}
