header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
header h1 {
  font-family: "Caprasimo", cursive;
  font-size: clamp(1.5rem, 4vh , 2.5rem);
  color: #dedede;
}

header a{
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: clamp(4rem, 15vh, 10rem);
  border-radius: clamp(1rem, 1vh , 2rem);
  margin: 0 1rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  cursor: pointer;
}

/* @media (max-height: 950px) {
  header img {
    
    border-radius: 1rem;
  }
} */
