#gameBoardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 1rem 0 1rem;
  transition: filter 0.3s ease;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.game-board.blur {
  filter: blur(15px);
}

.game_cell {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 8rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ccc;
  font-size: clamp(1rem, 5vmin, 6rem);
  cursor: pointer;
  font-family: "Caprasimo", cursive;
  padding: 2vmin;
  border-radius: 6px;
  background: linear-gradient(#4e1a4c, rgba(0, 0, 52, 0.346));
  box-shadow: -5px 0 15px rgba(255, 0, 255, 0.5),
    0 -5px 15px rgba(255, 0, 255, 0.5), 5px 0 15px rgba(241, 112, 12, 0.5),
    0 5px 15px rgba(241, 112, 12, 0.5);
}

.game_cell:hover {
  box-shadow: -5px 0 15px rgb(255, 0, 255), 0 -5px 15px rgba(255, 0, 255),
    5px 0 15px rgba(241, 112, 12), 0 5px 15px rgba(241, 112, 12);
}

.game_cell.filled {
  box-shadow: none;
  cursor: default;
}

.game_cell.no-hover {
  pointer-events: none;
}
